<div class="home-banner" img src="<%= image_path('home_banner.jpg') %>" alt="Home banner">
  <div class="home-banner-items">
    <h1>Hold no more</h1>
    <p>Settle in somewhere new. Discover toilets to relax & relief.</p>
    <%= link_to "Explore nearby", toilets_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="card-home">
  <div class="card-service">
    <img src="<%= image_path('unique_toilets.jpg') %>" alt="Unique toilets">
    <div class="card-service-infos">
      <div>
        <h2>Unique toilets</h2>
        <p>Toilets that are more then just to relax your bladder.</p>
      </div>
    </div>
  </div>
  <div class="card-service">
    <img src="<%= image_path('more_experiences.jpg') %>" alt="More Experiences">
    <div class="card-service-infos">
      <div>
        <h2>More Experiences</h2>
        <p>A new way to relax your bladder like the comfort of your home.</p>
      </div>
    </div>
  </div>
  <div class="card-service">
    <img src="<%= image_path('entire_toilets.jpg') %>" alt="Entire toilets">
    <div class="card-service-infos">
      <div>
        <h2>Entire toilets</h2>
        <p>Comfortable private toilets with showers.</p>
      </div>
    </div>
  </div>
</div>

<div class="card-body">
  <div class="card-body-header">
    <div>
      <h1>Covid-19 Specials - Home experience: Flea Market Field Trips</h1>
      <p>Visit your favourite flea market trader at the comfort of their home.</p>
    </div>
    <div>
      <%= link_to "Explore all", '#', class: "btn btn-flat" %>
    </div>
  </div>
  <div class="card-body-service">
    <div class="card-service">
      <img src="<%= image_path('entire_toilets.jpg') %>" alt="Entire toilets">
      <div class="card-service-infos">
        <div>
          <h2>Nature jewelry</h2>
          <p>Berlin hand made jewelry from nature material.</p>
        </div>
      </div>
    </div>
    <div class="card-service">
      <img src="<%= image_path('unique_toilets.jpg') %>" alt="Unique toilets">
      <div class="card-service-infos">
        <div>
          <h2>Cave waterfall paintings</h2>
          <p>A nice collection of oil paintings.</p>
        </div>
      </div>
    </div>
  </div>
</div>
