<div class="short-banner">
  <div class="home-banner-items">
    <h1><%= @toilet.name %></h1>
    <p><%= @toilet.address %></p>
  </div>
</div>

<div class="card-toilet">

  <div style="display: flex">
    <% @toilet.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>

  <div class="card-toilet-infos">
    <div>
      <h2>Hosted by <%= @toilet.user.first_name.capitalize %></h2>
      <p><%= @toilet.description %></p>
      <br>
      <div class="container">
        <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
          <%= simple_form_for :search, method: "get" do |f| %>
            <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.button :submit, "Go", class: "btn btn-flat" %>
          <% end %>
        </div>
      </div>
      <br>
      <h2>
        <%= pluralize @toilet.reviews.size, "review" %>
      </h2>

      <div id="reviews">
        <% if @toilet.reviews.blank? %>
          Be the first to leave a review for <%= @toilet.name %>
        <% else %>
          <% @toilet.reviews.each do |review| %>
            <p id="review-<%= review.id %>"><%= review.content %></p>
          <% end %>
        <% end %>
      </div>
      <%= simple_form_for([ @toilet, @review ], remote: true) do |f| %>
        <%= f.input :content, as: :text %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
<!--         <%= f.button :submit, class: "btn btn-flat" %> -->
        <%= f.submit "Send your review", class: "btn btn-flat" %>
      <% end %>
      <br>
      <%= link_to 'Back', toilets_path, class: "btn btn-flat" %>
      <% if policy(@toilet).update? %>
        <%= link_to 'Edit', edit_toilet_path(@toilet), class: "btn btn-flat" %>
      <% end %>
      <% if policy(@toilet).destroy? %>
        <%= link_to 'Remove', @toilet, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: "btn btn-flat" %>
      <% end %>
    </div>
    <h2 class="card-toilet-pricing">£0.99</h2>
    <%= cl_image_tag @toilet.user.photo.key, width: 40, height: 40, crop: :fill, class: "card-toilet-user avatar-bordered" %>
  </div>
</div>

